#fixedBox {
    /* размеры фиксированного блока */
    height: 150px;
    width: 93%;
    position: static;
    /* отступ сверху когда шапка видна полностью */
    margin-top: 0;

}
#h1{
	font-size:230%;
	text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
}