<table width="935" align="center">
  <tr>
    <td>
			<div class="subHeader"> <span class="doNotDisplay">Navigation: </span> <a href="http://mysitephp.ru/index.php">Home</a> | <a href="#">Магазин</a> | <a href="#">Блог</a> | <a href="#">Каталог файлов</a> | <a href="#">Обратная связь</a>			</div>
			
			<div id="maincontainer">
			
				<div id="contentwrapper">
					<div id="contentcolumn">
						<div class="maintext">
			
							<!-- ##### Main Copy ##### -->
							<div id="main-copy">
								<h1 id="introduction" style="border-top: none; padding-top: 0;">Заголовок страницы</h1>
								<p>%text%</p>
							</div>
						</div>
					</div>
				</div>		
