				<!-- ##### Left Sidebar ##### -->
				<div id="leftcolumn">
					<div class="leftSideBar">
						<p class="sideBarTitle">Рубрика 1:</p>
							<ul>
								%rubric1%
							</ul>
						<p class="sideBarTitle">Рубрика 2:</p>
							<ul>
								%rubric2%
							</ul>
						<p class="sideBarTitle">Рубрика 3:</p>
							<ul>
								%rubric3%
							</ul>
						<p class="sideBarTitle">Ротатор товаров</p>
						<p class="sideBarText">Товары </p>
						<p class="sideBarTitle">Полезные ссылки</p>
						<p class="sideBarText"><a target="_blank" href="http://tak.ru/partner.php?id=113931">%tak%</a></p>
					</div>
				</div>
			
				<!-- ##### Right Sidebar ##### -->
				<div id="rightcolumn">
					<div class="rightSideBar">
						<p class="sideBarTitle">Новости</p>
							<div class="sideBarText"><strong>? May 03</strong><br />
								Анонс новостей <a href="#">Ссылка на новости</a></div>
								<a href="" class="more">more news &raquo;</a>
						<p class="sideBarTitle">Подписка</p>
							<div class="sideBarText"><strong>Форма подписки</strong><br /></div>
						<p class="sideBarTitle">Голосование</p>
							<div class="sideBarText"><strong>Форма голосования</strong><br /></div>
						<p class="sideBarTitle">Реклама от Google</p>
							<div class="sideBarText"><strong>%googleright%</strong><br /></div>
					</div>
				</div>
			
				<!-- ##### Footer ##### -->
				<div id="footer">
					<div class="doNotPrint"> <a href="#">Послать страницу другу</a> | <a href="#">Наши правила</a> | 	<a href="#">Карта сайта</a> | <a href="#">Обратная связь</a> | <a href="#">Помощь</a> 
					</div>
					<div> Copyright &copy; 2003, Mysitephp |
				  	<a id="acvarif" href="http://acvarif.info/wbsphp.html" target="_blank">Выполнено на acvarif cms</a>					
					</div>
				</div>
			
			</div>
		</td>
  </tr>
</table>

</body>
</html>
