<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>%title%</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
%meta%
<link rel="stylesheet" type="text/css" href="/css/mysite.css" media="screen" title="Mysitephp.ru" />
</head>
<body>

<table width="943" align="center">
  <tr>
    <td>
			<!-- ##### Header ##### -->
			<div id="header">
				<h1 class="headerTitle"> <a href="#">Mysitephp.<span>ru</span></a> </h1>
			</div>
		</td>
  </tr>
</table>
